<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:macro name="camera_body" params="">
		<joint name="camera_joint" type="fixed">
			<axis xyz="0 1 0" />
			<origin xyz="${camera_link} -0.2 0.2" rpy="0 0 ${-PI/2}"/>
			<parent link="chassis"/>
			<child link="camera_link"/>
		</joint>
		<!-- Camera -->
		<link name="camera_link">
			<collision>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<box size="${camera_link} ${camera_link} ${camera_link}"/>
				</geometry>
			</collision>
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<box size="${camera_link} ${camera_link} ${camera_link}"/>
				</geometry>
				<material name="red"/>
			</visual>
			<inertial>
				<mass value="1e-5" />
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
			</inertial>
		</link>
	</xacro:macro>
</robot>
